*{

margin: 0;
padding: 0;
font-family: sans-serif;
}


.container{
height: 100vh;
width: 100%;
background: #E8F7FB;
display: flex;
align-items: center;
justify-content: center;
}

.calculator{

background: #023047;
border-radius: 20px;


}

.calculator form .inputs input {

margin: 82px 82px;
border-radius: 25px;
background: #E8F7FB;
border: none;
width: 600px;
height: 200px;


}

.btn-input {
    margin-left: 82px;
    margin-right: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator .btn-input input{

margin-bottom: 50px;

border-radius: 15px;
background: #6F7DFB;
border: none;

width: 90px;
height: 80px;

font-size: 30px;
font-weight: bold;

color: white;


box-shadow:
  0.1px 0.7px 7.8px -71px rgba(0, 0, 0, -0.018),
  0.1px 1.6px 17.2px -71px rgba(0, 0, 0, -0.036),
  0.2px 2.7px 28.8px -71px rgba(0, 0, 0, -0.053),
  0.3px 4.1px 43.4px -71px rgba(0, 0, 0, -0.07),
  0.5px 5.9px 62.6px -71px rgba(0, 0, 0, -0.086),
  0.7px 8.3px 88.6px -71px rgba(0, 0, 0, -0.101),
  1px 11.8px 125.7px -71px rgba(0, 0, 0, -0.112),
  1.5px 17.2px 182.5px -71px rgba(0, 0, 0, -0.116),
  2.3px 26.4px 281.3px -71px rgba(0, 0, 0, -0.102),
  4px 47px 500px -71px rgba(0, 0, 0, 0.22)

}

/* last btn**/

.calculator .btn-input .size {
    
    width: 345px;
height: 80px;
font-size: 60px;
color: white;

    
}


form .display{

    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input{

text-align: right;
flex:1;
font-size: 45px;
box-shadow: none;

font-size: 100px;
color: brown;
padding-right: 32px;
}